:root {
   --clr-primary-1: hsla(40, 98%, 58%, 1);
   --clr-primary-2: hsla(0, 0%, 100%, 1);

   --clr-neutral-1: hsla(217, 18%, 35%, 1);
   --clr-neutral-2: hsla(217, 12%, 62%, 1);
   --clr-neutral-3: hsla(213, 40%, 93%, 1);
   --clr-neutral-4: hsla(214, 37%, 96%, 1);
   --clr-neutral-5: hsla(39, 100%, 94%, 1);
   --clr-neutral-6: hsla(215, 14%, 23%, 1);
}